{
  "plugins": [
    ["@babel/plugin-proposal-private-methods", { "loose": true } ],
    // "@babel/plugin-proposal-class-static-block"
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "reactRuntime": "automatic"
      }
    ]
  ]
}