.cactuJamTable {
  border-spacing: 0;
  font-size: 30;
}
.cactuJamTable:not( .isWithoutUser ) {
  cursor: all-scroll;
}

.cactuJamTable tr {
  height: 80px;
}

.categoryColumn {
  width: 30px;
  max-width: 30px;
  rotate: -45deg;
}

.competitor img {
  vertical-align: middle;
  margin-right: var( --space-large );
}

.vote {
  display: grid;
  padding: var( --space-large );
}
.vote.isMissing {
  color: var( --color-red );
}
.vote.isVoted {
  color: var( --color-green );
}
.vote:hover {
  color: var( --color-white );
}
.voteValue {
  font-weight: bold;
}
.voteCategory {
  font-family: var( --font-cactu );
  font-size: 10;
  text-transform: lowercase;
  letter-spacing: 0.19em;
}
.cactuJamTable.isWithoutUser .voteCategory {
  font-size: 15;
}


/* Dialog below */


.dialogVote {
  display: flex;
  justify-content: left;
  width: 100%;
  gap: var( --space-large );
  padding: var( --space-large );
  font-size: 15px;
}
.dialogVote:hover {
  background-color: var( --color-purple );
}
.dialogVoteValue {
  font-size: 30px;
  color: var( --color-purple );
}
.dialogVote:hover .dialogVoteValue {
  color: var( --color-white );
}