.cactuJamTable {
  font-size: 30;
}
.cactuJamTable:not( .isWithoutUser ) {
  cursor: all-scroll;
}

.row {
  display: flex;
  align-items: center;
}
.row:not( :first-child ) {
  margin-top: 10px;
}

.categoryColumn {
  width: 30px;
  max-width: 30px;
  rotate: -45deg;
}

.competitor {
  display: flex;
  align-items: center;
  min-width: 300px;
}
.competitor img {
  vertical-align: middle;
  margin-right: var( --space-large );
}

.votes {
  display: flex;
}

.vote {
  display: grid;
  padding: var( --space-large );
}
.vote.isMissing {
  color: var( --color-red );
}
.vote.isVoted {
  color: var( --color-green );
}
.vote:hover {
  color: var( --color-white );
}
.voteValue {
  font-weight: bold;
}
.voteCategory {
  font-family: var( --font-cactu );
  font-size: 10px;
  text-transform: lowercase;
  letter-spacing: 0.19em;
}
.cactuJamTable.isWithoutUser .voteCategory {
  font-size: 15;
}


/* Dialog below */


.categoryDescription {
  font-size: 1.125rem;
  margin-block: var( --space-normal );
}

.dialogVote {
  display: flex;
  justify-content: left;
  width: 100%;
  gap: var( --space-large );
  padding: var( --space-large );
  font-size: 15px;
  text-align: left;
}
.dialogVote:hover {
  background-color: var( --color-purple );
}
.dialogVoteValue {
  font-size: 30px;
  color: var( --color-purple );
}
.dialogVote:hover .dialogVoteValue {
  color: var( --color-white );
}

.dialogCloseBtn {
  padding: var( --space-normal ) var( --space-large );
  margin-left: auto;
  font-weight: bold;
  color: var( --color-yellow );
}
.dialogCloseBtn:hover {
  color: var( --color-background );
  background-color: var( --color-yellow );
}


/* Media below */


@media screen and (max-width:1000px) {
  .cactuJamTable {
    font-size: 14px;
  }

  .competitor {
    flex-direction: column;
    text-align: center;
    min-width: 125px;
  }
  .competitor img {
    display: block;
    margin: 0 auto;
  }
  .vote {
    display: grid;
    padding: var( --space-normal );
  }
  .voteValue {
    font-size: 20px;
  }
}

@media screen and (max-width:450px) {
  .cactuJamTable {
    font-size: 12px;
  }
  .competitor {
    min-width: 100px;
  }
  .votes {
    flex-wrap: wrap;
  }
  .vote {
    flex-basis: 50%;
  }

  .row:not( :first-child ) {
    margin-top: 20px;
  }
}