.cactuJamTable {
  border-spacing: 0;
  cursor: all-scroll;
  font-size: 30;
}

.categoryColumn {
  width: 30px;
  max-width: 30px;
  rotate: -45deg;
}

.competitor img {
  vertical-align: middle;
  margin-right: var( --space-large );
}

.vote {
  display: grid;
  padding: var( --space-large );
}
.vote.isMissing {
  color: var( --color-red );
}
.vote.isVoted {
  color: var( --color-green );
}
.vote:hover {
  color: var( --color-purple );
}
.voteValue {
  font-weight: bold;
}
.voteCategory {
  font-family: var( --font-cactu );
  font-size: 10;
  text-transform: lowercase;
  letter-spacing: 0.19em;
}