:root {
  --_gameTileSize: calc( var( --tileSize ) * 2 );
}

:global( main ) {
  display: flex;

  & > :global( .prose ) {
    width: 1000px;
    height: max-content;
  }
}

.gamesArea {
  --_spacing: calc( var( --tileSize ) );

  display: flex;
  gap: var( --_spacing );
  padding: var( --_spacing );
}

.preview {
  anchor-name: --item-anchor;
  display: grid;
  width: min( 20vw, 300px );
  place-items: center;
  color: var( --color-neutral-m100 );

  @media (max-aspect-ratio: 4 / 3) {
    height: 100px;

    & > * {
      display: none;
    }
  }
}

.listArea, .list {
  display: flex;
  flex-direction: column;
  gap: var( --_spacing );
}
@media (max-aspect-ratio: 2 / 3) {
  .listArea {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    padding: var( --tileSize );
    z-index: 1;
  }
  .list {
    flex-direction: row;
    overflow: auto;
    margin-inline: calc( var( --tileSize ) * -1 );
    padding: var( --tileSize );
    height: calc( var( --tileSize ) * 2 + var( --_gameTileSize ) );
  }
}
