:root {
  --_gameTileSize: calc( var( --tileSize ) * 2 );
}

:global( main ) {
  display: flex;

  @media (max-aspect-ratio: 2 / 3) {
    padding-top: calc( var( --tileSize ) * 4 );
  }

  & > :global( .prose ) {
    width: 1000px;
    height: max-content;
  }
}

.gamesArea {
  --_spacing: calc( var( --tileSize ) );

  display: flex;
  gap: var( --_spacing );
  padding: var( --_spacing );

  @media (max-aspect-ratio: 2 / 3) {
    padding-bottom: 200px;
  }
}

.preview {
  display: grid;
  place-items: center;
  color: var( --color-neutral-m100 );

  @media (max-aspect-ratio: 4 / 3) and (min-aspect-ratio: 2 / 3) {
    display: none;
  }

  @media (min-aspect-ratio: 4 / 3) {
    anchor-name: --item-anchor;
    width: min( 20vw, 300px );
  }
}

.listArea, .list {
  display: flex;
  flex-direction: column;
  gap: var( --_spacing );
}
@media (max-aspect-ratio: 2 / 3) {
  .listArea {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    gap: var( --pixelSize );
    padding: var( --pixelSize );
    background-color: black;
    width: 100%;
  }
  .list {
    flex-direction: row;
    overflow: auto;
    margin-inline: calc( var( --pixelSize ) * -1 );
    padding: calc( var( --pixelSize ) * 2 );
    height: calc( var( --pixelSize ) * 4 + var( --_gameTileSize ) );
  }
}
