.banner {
  --_size-multiplier: 1;

  position: relative;
  display: flex;
  width: calc( 1130px * var( --_size-multiplier ) );
  height: calc( 405px * var( --_size-multiplier ) );
  padding-bottom: calc( 60px * var( --_size-multiplier ) );
  align-items: center;
  font-family: var( --font-cactu );
  font-size: calc( 210px * var( --_size-multiplier ) );
  letter-spacing: 0.19em;
}

.singleSign {
  position: absolute;
  width: 100px;
}

.signet {
  height: 100%;
  aspect-ratio: 294px / 345px;
  z-index: 10;
}

.logotype {
  transform: unset;
  align-self: flex-end;
  color: var( --color-green );
  line-height: calc( 95px * var( --_size-multiplier ) );
}

.floatingFace {
  width: 0.8em;
  top: calc( 50px * var( --_size-multiplier ) );
}

.floatingFace.is1 {
  left: calc( 404px * var( --_size-multiplier ) );
}

.floatingFace.is2 {
  left: calc( 694px * var( --_size-multiplier ) );
}

.grass {
  width: calc( 100px * var( --_size-multiplier ) );
  height: calc( 45.45px * var( --_size-multiplier ) );
}

.grass.is1 {
  bottom: calc( 120px * var( --_size-multiplier ) );
  left: calc( 150px * var( --_size-multiplier ) );
}

.grass.is2 {
  bottom: calc( 45px * var( --_size-multiplier ) );
  left: calc( 14px * var( --_size-multiplier ) );
  z-index: 100;
}

.grass.is3 {
  bottom: 0;
  left: calc( 183px * var( --_size-multiplier ) );
}

.noSign {
  display: block;
  bottom: 0.44em;
  right: 0;
  width: calc( 100px * var( --_size-multiplier ) );
}

@media screen and (max-width:1400px) {
  .banner {
    --_size-multiplier: 0.75;
  }
}

@media screen and (max-width:1000px) {
  .banner {
    --_size-multiplier: 0.5;
  }
}

@media screen and (max-width:600px) {
  .banner {
    --_size-multiplier: 0.25;
  }
}