.banner {
  position: relative;
  display: flex;
  width: 1130px;
  height: 405px;
  padding-bottom: 60px;
  align-items: center;
  font-family: var( --font-cactu );
  font-size: 210px;
  letter-spacing: 0.19em;
}

.singleSign {
  position: absolute;
  width: 100px;
}

.signet {
  z-index: 10;
}

.logotype {
  position: absolute;
  left: 295px;
  top: unset;
  transform: unset;
  align-self: flex-end;
  color: var( --color-green );
  line-height: 95px;
}

.floatingFace {
  width: 0.8em;
  top: 50px;
}

.floatingFace.is1 {
  left: 404px;
}

.floatingFace.is2 {
  left: 694px;
}

.grass.is1 {
  bottom: 120px;
  left: 150px;
}

.grass.is2 {
  bottom: 45px;
  left: 14px;
  z-index: 100;
}

.grass.is3 {
  bottom: 0;
  left: 183px;
}

.noSign {
  display: block;
  top: 250px;
  right: 0;
  width: 100px;
}
