.surface {
  padding: 32px;
  border: 1px solid var( --color-secondary );
  background-color: var( --color-surface );
  backdrop-filter: blur( 8px );
  color: var( --color-primary );
  font-family: var( --font-cactu );
  font-size: 30px;
  text-transform: lowercase;
  letter-spacing: 0.19em;
  transition: background-color, border-color;
  transition-duration: .15s;

  a&:hover {
    background-color: var( --color-surface-e100 );
    border-color: var( --color-accent );
    box-shadow: 0 0 5px var( --color-accent );
  }
  a&:active {
    background-color: var( --color-surface-m100 );
  }
}
