.dialog {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: var( --color-white );
  backdrop-filter: blur( 10px );
}
.dialogBackground {
  background-color: #0005;
  padding: var( --space-large );
}