.dialog {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: var( --color-white );
  backdrop-filter: blur( 10px );
}
.dialogSurface {
  background-color: #0005;
  padding: var( --space-large );
  max-height: calc( 100dvh - var( --space-normal ) );
  overflow: auto;
}