.content {
  padding: 200px;
}
.highlightedActivity {
  color: var( --white );
}
.action-field {
  margin-left: 45px;
  transition: margin-left 0.1s;
}
.action-field:not( .is-disabled ):hover {
  margin-left: 50px;
}
.action-field.is-disabled {
  cursor: no-drop;
}