.banner {
  --_signetWidth: 294px;

  position: relative;
  display: flex;
  padding-right: 0.5em;
  padding-bottom: 1.5%;
  align-items: center;
  font-family: var( --font-cactu );
  font-size: 210px;
  letter-spacing: 0.19em;

  @media screen and (max-width:1400px) {
    --_signetWidth: 227px;
    font-size: 140px;
  }

  @media screen and (max-width:900px) {
    --_signetWidth: 140px;
    font-size: 95px;
  }

  @media screen and (max-width:600px) {
    & :not( .signet, .grass ) {
      display: none;
    }
  }
}

.singleSign {
  position: absolute;
  width: 100px;
}

.signet {
  width: var( --_signetWidth );
  height: unset;
  aspect-ratio: 294 / 345;
  z-index: 10;
}

.logotype {
  transform: unset;
  align-self: flex-end;
  color: #5da234;
  line-height: 0.45em;
}

.floatingFace {
  width: 0.8em;
  height: unset;
  bottom: 0.75em;

  &.is1 {
    left: calc( var( --_signetWidth ) + 0.51em );
  }

  &.is2 {
    left: calc( var( --_signetWidth ) + 1.895em );
  }
}

.grass {
  width: calc( var( --_signetWidth ) * 0.35 );
  height: unset;
  aspect-ratio: 100 / 45;

  &.is1 {
    bottom: 23%;
    left: calc( var( --_signetWidth ) * 0.5 );
  }

  &.is2 {
    bottom: 4%;
    left: calc( var( --_signetWidth ) * 0.03);
    z-index: 100;
  }

  &.is3 {
    bottom: 0;
    left: calc( var( --_signetWidth ) * 0.97 );
    translate: -100% 0;
    z-index: 100;
  }
}

.noSign {
  bottom: 0.25em;
  right: 0;
  display: block;
  width: 0.5em;
  height: unset;
  aspect-ratio: 100 / 66;
}
