@layer globals {
  :root {
    --color-background: #212225;
    --color-red: #b66141;
    --color-green: #5da234;
    --color-blue: #5574ac;
    --color-yellow: #e6bf4b;
    --color-purple: #6c52ec;
    --color-white: #fefefe;
  }

  body {
    padding: 1px;
    color: var( --color-white );
    background: var( --color-background );
    font-family: monospace;
  }

  h1, h2, h3 {
    color: var( --color, var( --color-green ) );
    font-family: var( --font-cactu );
    letter-spacing: 0.19em;
    text-transform: lowercase;
    font-weight: normal;
  }
  h1 {
    font-size: min( 75px, 10vw + 10px );
  }
  h2 {
    font-size: min( 50px, 7vw + 10px );
  }
}
