.content {
  display: grid;
  grid-auto-rows: 66.66dvh 1fr;
  min-height: 100dvh;
}

.content > header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.content > nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: min( 1130px, 100% );
}

@media screen and (max-width:1000px) {
  .content {
    grid-auto-rows: calc( 200px + 10vw ) 1fr;
  }
}