.surface {
  width: 200px;
  height: 75px;
  background: #fff;
  border-radius: 10px;
  margin: 100px;
  box-shadow: 0 0 0 10px var( --color-red );
}

.link {
  width: max-content;
  background: #0005;
  color: white;
  border-left: 5px solid var( --color-yellow );
  padding: 10px;
  transition-duration: 0.2s;
  transition-property: border-left, padding-left;
  cursor: pointer;
}
.link:hover {
  border-left: 10px solid var( --color-blue );
}

.leftBar {
  --_offset: 20px;
  position: relative;
  margin-left: 0px;
  margin-block: var( --_offset );
}
.leftBar::before {
  content: "";
  position: absolute;
  top: calc( var( --_offset ) * -1 );
  right: 100%;
  display: block;
  width: 10px;
  height: calc( 100% + var( --_offset ) * 2 );
  background: var( --color-green );
  border-radius: 9999px;
}
