@layer reset, lib, layout;

@import "./normalize.css" layer( reset );
@import "@lib/core/flow/flow.css" layer( lib );
@import "@fet/theme/font/cactu.css";

@layer layout {
  :root {
    --tileSize: calc( 100vh / 31 );
    --pixelSize: calc( var( --tileSize ) / 7 );

    --color-white: #fff;
    --color-green-e100: #59B820;
    --color-green: #6F9D46;
    --color-green-m100: #3A9704;
    --color-yellow-e100: #F3D638;
    --color-yellow: #D6B916;
    --color-yellow-m100: #B59A00;
    --color-brown-e100: #d3852c;
    --color-brown: #c57316;
    --color-brown-m100: #b66911;

    --border-width: var( --pixelSize );
  }

  body {
    background-color: #12131d;
    background-image: radial-gradient( ellipse at 0 0, #19172a, transparent );
    color: white;
  }

  .page-content {
    container-type: inline-size;
    min-height: 100dvh;
  }

  .page-content ~ canvas {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100dvh;
    z-index: -1;
  }

  .row, .columns {
    gap: 24px;
  }

  .prose {
    > * + * {
      margin-top: 10px;
    }
  }
}
