.nav {
  @media (width >= 600px) {
    > :global( .button ) {
      margin-block: var( --tileSize ) calc( var( --tileSize ) * 0.5 );
    }
  }

  @media (width < 600px) {
    min-height: calc( 100dvh - 500px );
  }
}

.isCompact {
  @media (min-aspect-ratio: 2 / 3) {
    display: none;
  }
}