@font-face {
  font-family: coconut;
  src: url( ../fonts/Coconut.ttf );
}



.banner {
  background-color: #212226;
  background: radial-gradient( #212226, #202125 );
  min-width: 100vw;
  min-height: 100vh;
}
.banner-no_sign,
.banner-grass,
.banner-floating_face {
  position: absolute;
  width: 100px;
}

.banner-logo-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50% );
}
.banner-signet {
  position: relative;
  z-index: 10;
}
.banner-logotype {
  position: absolute;
  left: 50%;
  top: calc( 100% + 100px);
  transform: translateX( -50% );
  font-family: coconut;
  font-size: 100px;
  color: #5da234;
  letter-spacing: 10px;
}



.banner-floating_face.is-1 {
  top: -100px;
  left: calc( 50% - 160px );
}
.banner-floating_face.is-2 {
  top: -150px;
  left: calc( 50% + 60px );
}



.banner-grass.is-1 {
  top: calc( 100% - 120px );
  left: 150px;
}
.banner-grass.is-2 {
  top: calc( 100% - 35px );
  left: 14px;
  z-index: 100;
}
.banner-grass.is-3 {
  top: calc( 100% + 20px );
  left: 183px;
}


.banner-no_sign {
  display: none;
}



@media only screen and (min-width: 900px) {
  .banner-logo-wrapper {
    left: 25%;
  }
  .banner-logotype {
    font-size: 100px;
    left: 100%;
    top: calc( 50% + 20px );
    transform: unset;
  }

  .banner-floating_face.is-1 {
    top: 70px;
    left: calc( 100% + 55px );
  }
  .banner-floating_face.is-2 {
    top: 70px;
    left: calc( 100% + 204px );
  }
}



@media only screen and (min-width: 1200px) {
  .banner-logo-wrapper {
    display: flex;
    left: 50%;
  }
  .banner-logotype {
    position: relative;
    font-size: 190px;
    left: unset;
    top: unset;
    transform: unset;
    align-self: flex-end;
    line-height: 118px;
    letter-spacing: 20px;
  }

  .banner-floating_face {
    width: 170px;
  }
  .banner-floating_face.is-1 {
    top: 70px;
    left: 410px;
  }
  .banner-floating_face.is-2 {
    top: 70px;
    left: 693px;
  }
}



@media only screen and (min-width: 1300px) {
  .banner-no_sign {
    display: block;
    top: 170px;
    left: 100%;
    width: 170px;
  }
}