:global( .button ) {
  display: block;
  height: calc( var( --tileSize ) * 2 );
  corner-shape: notch;

  border: calc( var( --border-width ) * 2 ) solid transparent;
  border-image: url( "./frame.png" );
  border-image-slice: 2;
  border-radius: calc( var( --border-width ) );
  background-repeat: no-repeat;
  background-image:
    url( "./tileBgr.png" ),
    linear-gradient( var( --_color ) );
  background-size:
    auto calc( var( --pixelSize ) * 9 ), /* height of image */
    cover;
  background-clip:
    padding-box,
    border-box;
  background-origin:
    padding-box,
    border-box;

  image-rendering: crisp-edges;
  padding-inline: var( --tileSize );

  --_color: var( --color-green );

  &[disabled] {
    opacity: 0.5;
    filter: grayscale( 0.5 );
    cursor: no-drop;
  }
}

.isYellow {
  --_color: var( --color-yellow );
}

.isBrown {
  --_color: var( --color-brown );
}
