@property --_color {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

:global( .button ) {
  --_color: var( --color-green );

  display: block;
  padding-inline: var( --tileSize );
  height: calc( var( --tileSize ) * 2 );

  border: calc( var( --border-width ) * 2 ) solid transparent;
  border-image: url( "./frame.png" ) 2;
  border-radius: var( --border-width );
  corner-shape: notch;


  background-image:
    url( "./tileBgr.png" ),
    linear-gradient( var( --_color ) );
  background-repeat: no-repeat;
  background-size:
    auto calc( var( --pixelSize ) * 9 ), /* height of image */
    cover;
  background-clip:
    padding-box,
    border-box;
  background-origin:
    padding-box,
    border-box;

  image-rendering: crisp-edges;
  transition: 0.2s ease;
  transition-property: --_color, box-shadow, opacity;
  font: calc( var( --border-width ) * 4 ) monospace;


  &[disabled] {
    opacity: 0.5;
    filter: grayscale( 0.5 );
    cursor: no-drop;
  }
}

.isYellow {
  --_color: var( --color-yellow );

  &:hover {
    --_color: color-mix( var( --color-yellow ), #fff 10% );

    &:not( :active ) {
      box-shadow: 0 0 5px var( --_color );
    }
  }

  &:active {
    transition-duration: 0.05s;
    border-image: url( "./frame-rotated.png" ) 2;
    translate: calc( var( --pixelSize ) * -0.5 ) calc( var( --pixelSize ) * 0.5 );
    opacity: 0.9
  }
}

.isBrown {
  --_color: var( --color-brown );
}
