:root {
  scrollbar-gutter: unset;
}

:global( main ) {
  display: grid;
  place-items: center;
  height: 100dvh;

  @media (width < 600px) {
    height: 500px;
  }
}

.nav {
  @media (width >= 600px) {
    > button {
      margin-block: var( --tileSize ) calc( var( --tileSize ) * 0.5 );
    }
  }

  @media (width < 600px) {
    min-height: calc( 100dvh - 500px );
  }
}
