.dragArea {
  --_authorAvatarSize: 75px;
  --_element-width: calc( var( --tileSize ) * 3 );
  --_areasGap: 24px;
  --_itemsGap: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: var( --_areasGap );

  &.isBig {
    --_authorAvatarSize: 100%;
  }

  .smallScreenInfo {
    display: none;
    font-style: italic;
  }
}

.dragArea [data-drop-area] {
  padding: var( --_itemsGap );
  border: var( --border-width ) solid currentColor;
}

:where( .tiers ) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .legend {
    display: flex;
    justify-content: space-between;
    margin-left: calc( var( --_areasGap ) + 1lh );
  }

  .row {
    display: flex;
    align-items: center;
    height: calc( var( --_element-width ) + var( --_itemsGap ) * 2 + var( --border-width ) * 2 );
    gap: var( --_areasGap );

    &:not( :first-of-type ) {
      margin-top: var( --_areasGap )
    }

    .label {
      width: 1lh;
    }

    [data-drop-area] {
      flex-grow: 1;
      display: flex;
      gap: var( --_itemsGap );
      min-width: calc( var( --_element-width ) * 3 + var( --_itemsGap ) * 4 + var( --border-width ) * 2 );
      height: 100%;
    }
  }
}

:where( .uncategorised ) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: calc( var( --_element-width ) * 2 + var( --_itemsGap ) * 3 + var( --border-width ) * 2 );

  & [data-drop-area] {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var( --_itemsGap );
    width: calc( var( --_element-width ) * 2 + var( --_itemsGap ) * 3 + var( --border-width ) * 2 );
    min-height: calc( var( --_element-width ) * 3 + var( --_itemsGap ) * 4 + var( --border-width ) * 2 );
  }
}

.item {
  --_color-surface: #0005;

  .handle {
    display: block;
    width: var( --_element-width );
    height: var( --_element-width );
    min-height: 25px;
    background: var( --_color-surface ) center / cover var( --bgr );
    font-size: 20px;
    font-weight: bold;
    cursor: move;
    touch-action: none;
  }
}

.isDragOver {
  background-color: var( --color-secondary );
}
