.ladder {
  --_authorAvatarSize: 75px;
  --_element-width: calc( var( --tileSize ) * 2 );
  --_color-surface: #0004;
  --_areasGap: var( --pixelSize );
  --_itemsGap: calc( var( --tileSize ) / 2 );

  display: flex;
  flex-wrap: wrap;
  gap: var( --_areasGap );
  margin-block: calc( var( --tileSize ) * 2 );

  .smallScreenInfo {
    display: none;
    font-style: italic;
  }
}

:where( .tiers ) {
  flex-grow: 1;
  display: flex;
  gap: var( --_areasGap );
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    gap: 1lh;
    margin-bottom: 1em;

    .title {
      font: var( --font-titleSmall );
    }
  }

  .row {
    display: grid;
    grid-template:
      "label legend"
      "label assignements"
      "desc  desc" /
      var( --tileSize ) 1fr;
    align-items: center;

    border: var( --border-width ) solid var( --color-blue );
    border-radius: var( --border-width );
    corner-shape: notch;
    background-color: var( --_color-surface );
    overflow: hidden;

    .label {
      grid-area: label;
      display: grid;
      place-items: center;
      height: 100%;
      background-color: var( --_color-surface );
      font-size: var( --tileSize );
      font-weight: bold;
      color: var( --color-neutral-m100 );
    }

    /* .assignements {
      flex-grow: 1;
      height: 100%;
      background-color: var( --_color-surface );
    } */

    .assignements {
      grid-area: assignements;
      display: flex;
      gap: var( --_itemsGap );
      padding: var( --_itemsGap );
      min-height: calc( var( --_element-width ) + var( --_itemsGap ) * 2 );
      min-width: calc( var( --_element-width ) * 3 + var( --_itemsGap ) * 4 + var( --border-width ) * 2 );
    }

    .legend {
      grid-area: legend;
      display: flex;
      justify-content: space-between;
      padding: var( --pixelSize ) calc( var( --pixelSize ) * 2 );
      background-color: var( --_color-surface );
      color: var( --color-neutral-m100 );
    }

    .description {
      grid-area: desc;
      padding: calc( var( --_itemsGap ) / 2 );
      background-color: var( --_color-surface );
      color: var( --color-neutral-m100 );
    }
  }
}

.item {
  .handle {
    display: block;
    width: var( --_element-width );
    height: var( --_element-width );
    min-height: 25px;
    background: var( --_color-surface ) center / cover var( --bgr );
    font-size: 20px;
    font-weight: bold;
    cursor: move;
    touch-action: none;
  }
}

.isDragOver {
  background-color: var( --color-secondary );
}
