.dragArea {
  --_element-width: min( 100px, 15vw );
  --_gap: 24px;

  display: flex;
  gap: var( --_gap );

  & > .overview {
    width: calc( var( --_element-width ) * 2 );
    anchor-name: --item-anchor;
  }
}

.dragArea [data-drop-area] {
  background-color: #00f5;
}

.results {
  display: flex;
  flex-direction: column;

  & .resultsLegend {
    display: flex;
    justify-content: space-between;
    margin-left: calc( var( --_gap ) + 1lh );
  }

  & > section {
    display: flex;
    align-items: center;
    height: var( --_element-width );
    gap: var( --_gap );

    &:not( :first-of-type ) {
      margin-top: var( --_gap )
    }

    & .rowLabel {
      width: 1lh;
    }
  }

  & [data-drop-area] {
    display: flex;
    min-width: calc( var( --_element-width ) * 3 );
    height: 100%;
  }
}

.uncategorised {
  display: flex;
  flex-direction: column;
  width: calc( var( --_element-width ) * 2.5 );

  & [data-drop-area] {
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    gap: var( --_gap );
    height: calc( var(--_element-width) * 3 );
  }
}

.item {
  & .handle {
    display: block;
    width: var( --_element-width );
    height: var( --_element-width );
    min-height: 25px;
    background: var( --color-surface-on ) center / cover var( --bgr );
    font-size: 20px;
    font-weight: bold;
  }

  & .overview {
    position: absolute;
    position-anchor: --item-anchor;
    left: anchor( left );
    right: anchor( right );
    top: anchor( top );
    bottom: anchor( bottom );
    padding: 8px;
    background:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      var( --color-surface-on ) center / cover var( --bgr );

    :is( :not( :hover ), .isDragging, :active ) > & {
      display: none;
    }

    & > img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.isDragOver {
  color: red;
}
